# -----------------------
# Virtual environment
# -----------------------
venv/
ENV/
env/
*.egg-info/
__pycache__/

# -----------------------
# Python compiled files
# -----------------------
*.pyc
*.pyo
*.pyd

# -----------------------
# Jupyter Notebook
# -----------------------
.ipynb_checkpoints/
*.ipynb_checkpoints

# -----------------------
# VSCode
# -----------------------
.vscode/

# -----------------------
# OS-specific files
# -----------------------
.DS_Store
Thumbs.db

# -----------------------
# Logs
# -----------------------
*.log

# -----------------------
# PyCharm
# -----------------------
.idea/

# -----------------------
# Data files
# -----------------------
fer2013.csv
*.h5